.bottomButtons a {
  width: 90px;
  margin: 0 4% 0 4%;
}

.detailPageWrapper {
  width: 350px;
  margin: auto;
}

.detailInfoBox h3 {
  color: #89DA2F;
  font-weight: lighter;
}

.detail {
  text-align: center;
}

.starWrapper {
  display: flex;
}

.detailInfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 250px;
  width: 100%;
  background-image: url(./../imgs/detail-backdrop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail {
  display: flex;
  align-items: center;
  height: 42px;
}

.infoButton button {
  width: 100px;
  margin: auto;
  height: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  border-radius: 18px;
  border: none;
  background-color: #89DA2F;
  color: white;
  font-size: 1.1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 5px;
}
.infoButton button:focus {
  outline: 0;
}

.infoButton button:hover {
  animation: hoverScale .2s ease both;
  cursor: pointer;
}

@keyframes hoverScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

.routeImage {
  height: 350px;
  width: 100%;
  background-image: url(./../imgs/route-image.png);
}

.buttonBackdrop {
  color: #89DA2F;
  height: 300px;
  width: 100%;
  background-image: url(./../imgs/button-backdrop.svg);
}

.topButtons {
  position: relative;
  top: 3.5vh;
  display: flex;
  justify-content: space-around;
}

.topButton1 {
  margin:auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../imgs/shield.svg);
}

.topButton2 {
  margin:auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../imgs/checkmark.svg);
}

.topButton3 {
  margin:auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90px;
  width: 90px;
    border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../imgs/clipboard.svg);
}

.bottomButtons {
  display: flex;
  justify-content: center;
  position: relative;
  top: 28%
}

.bottomButton1 {
  margin:0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../imgs/list.svg);
}

.bottomButton2 {

  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./../imgs/star.svg);
}

.bottomButton1 p, .bottomButton2 p, .topButton1 p, .topButton2 p, .topButton3 p {
  position: relative;
  top: 20%;
}
