.topBar a {
  width: 10%;
}

.topBar h3 {
  color: #89DA2F;
  font-weight: lighter;
}

.editModalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 1024px;
  width: 350px;
  background-image: url(./../imgs/blurred-bg.png);
}

.bottomLogo {
  align-self: center;
  height: 75px;
  width: 115px;
  background-image: url(./../imgs/zone-logo.svg);
}

.topBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vh;
}

.closeButton{
  height: 72px;
  width: 72px;
  background-image: url(./../imgs/close.svg);
}

.contentContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notesContainer {
  height: 350px;
  width: 90%;
  border: 2px solid white;
  border-radius: 12px;
  margin-bottom: 3vh;

  }
