.emptyListWrapper {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  color: white;


}
.emptyListMessage {
  width: 200px;
  text-align: center;
  position: relative;
  top: -100px;
}
