.home-wrapper {
  margin: auto;
  width: 350px;
  background-image: url(./../imgs/swordfern.png);


}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(./../imgs/nav-logo.png);
  height: 150px;
  width: 100%;
  margin-bottom: 4vh;
}

.nav-button {
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 30px;
  border: solid 2px white;
  border-radius: 5px;
  width: 22%;
  margin: 0 3% 2% 3%;
}

.filters {
  margin: auto;
  width: 87%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.filter-route {
  height: 166px;
  background-image: url(./../imgs/filtermenu.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 4vh;
}

#filter-title {
  color: #89DA2F;
}

.filter-box {
  padding: 0 15px 0 15px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.filter-box .title {
  color: #89DA2F;
}
