
.homeWrapper {
  padding-top: 4vh;
  margin: auto;
  width: 350px;
  background-image: url(./../imgs/swordfern.png);
}

.filters {
  margin: auto;
  width: 87%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.filterRoute {
  height: 166px;
  background-image: url(./../imgs/filtermenu.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 3vh;
}

#filter-title {
  color: #89DA2F;
}

.filterBox {
  padding: 0 15px 0 15px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.filterBox .title {
  color: #89DA2F;
}

.filterRouteButton {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  border: solid 2px white;
  border-radius: 40px;
  margin: 0 auto 3vh auto;
  color: white;
}
