.itemInfo h3 {
  color: #89DA2F;
  font-weight: lighter;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

.itemInfo p {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}
.listItemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 300px;
  margin: 0px auto 10px auto;
  background-color: black;
  border: 1px solid white;
}

.listItemWrapper:hover {
  animation: hoverScale .5s ease both;
}

.itemType {

  height: 85%;
  width: 30%;
  background-image: url(./../imgs/icon-mixed.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1vh;
}

.trad {
  height: 85%;
  width: 30%;
  background-image: url(./../imgs/trad.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 .5vh 0 .5vh;
  border: 1px solid white;

}

.sport {
  height: 85%;
  width: 30%;
  background-image: url(./../imgs/bolt.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1vh;
  border: 1px solid white;
  margin: 0 .5vh 0 .5vh;
}

.mixed {
  height: 85%;
  width: 30%;
  background-image: url(./../imgs/icon-mixed.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 .5vh 0 .5vh;
  border: 1px solid white;
}

.itemInfoBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 85%;
  width: 60%;
  background-color: rgba(0,0,0, .5);
  margin: 0 .5vh 0 .5vh;
}

.itemInfo {
  font-size: .9rem;
  width: 120px;
  max-height: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expandButton {
  height: 50px;
  width: 50px;
  background-image: url(./../imgs/icon-expand.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes hoverScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.06);
  }
}
