.itemInfo h3 {
  color: #89DA2F;
  font-weight: lighter;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

.itemInfo p {
  color: white;
}
.listItemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between
  ;
  height: 90px;
  width: 100%;
  background-color: #424242;
  margin: auto;
}

.itemType {

  height: 85%;
  width: 30%;
  background-image: url(./../imgs/icon-mixed.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1vh;
}

.trad {
  height: 85%;
  width: 30%;
  background-image: url(./../imgs/trad.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1vh;
}

.sport {
  height: 85%;
  width: 30%;
  background-image: url(./../imgs/bolt.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1vh;
}

.mixed {
  height: 85%;
  width: 30%;
  background-image: url(./../imgs/icon-mixed.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1vh;
}

.itemInfoBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 85%;
  width: 60%;
  background-color: rgba(0,0,0, .5);
  margin-right: 1vh;
}

.itemInfo {
  font-size: .9rem;
  width: 120px;
  max-height: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expandButton {
  height: 50px;
  width: 50px;
  background-image: url(./../imgs/icon-expand.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
