.listWrapper {
  width: 350px;
  margin: auto;
  min-height: 100vh;
  background-image: url(./../imgs/swordfern.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
