.gradeMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn .8s ease both;
}

.gradeMenu {
  display: flex;
  height: 235px;
  width: 200px;
  background-image: url(./../imgs/top-grade-dropdown.svg);
}


.valueBox input {
  height: 25px;
  width: 100px;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
  margin: 0;
  box-sizing: border-box;
}

.leftColumn {
  position: relative;
  top: 7px;
}

.rightColumn {
  position: relative;
  top: 7px;
}

.okButton {
  margin-top: 2vh;
  width: 130px;
}

.okButton:hover {
  animation: hoverScale .2s ease both;
  cursor: pointer;
}

.okButton img {
  width: 100%;
}

@keyframes hoverScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

@keyframes fadeIn {
  0%{
    height: 0;
    opacity: 0;
  }
  100% {
    height: 350px;
    opacity: 1;
  }

}
