.grade-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn .8s ease both;
}

.grade-menu {
  height: 235px;
  width: 200px;
  background-image: url(./../imgs/top-grade-dropdown.svg);
}

.ok-button {
  margin-top: 2vh;
  width: 130px;
}

.ok-button img {
  width: 100%;
}

@keyframes fadeIn {
  0%{
    height: 0;
    opacity: 0;
  }
  100% {
    height: 350px;
    opacity: 1;
  }

}
