

a {
 color: inherit;
 text-decoration: none;
 width: 100%;
 margin: 0;
}

.navWrapper {
  margin: auto;
  width: 350px;
}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(./../imgs/nav-logo.png);
  height: 150px;
  width: 100%;

}

.navButton {
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 30px;
  border: solid 2px white;
  border-radius: 5px;
  margin: 0 3% 2% 3%;

}

.navButton:hover {
    animation: hoverScale .2s ease both;
    cursor:pointer;

}

@keyframes hoverScale {
  0% {
    border: 2px solid white;
    color: white;
    transform: scale(1);
  }
  100% {
    border: 2px solid #89DA2F;
    color: #89DA2F;
    transform: scale(1.03);
  }
}
